* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
    --color1 :rgb(234, 228, 213);
    --color2 :rgb(182, 176, 159);
    --color3 : #9CA763;
    --color4 :#F1E8C7;
}
 /*  light mode switch  */
body.light-mode {
  background: white;
  color: black;
}
