* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
    --color1 :#4A3F35;
    --color2 :#2E6F40;
    --color3 : #9CA763;
    --color4 :#F1E8C7;
}
 /*  light mode switch  */
body.light-mode {
  background: white;
  color: #555b25;
}
